.column {
    float: left;
    margin: 0 1em;
    width: 30vw;
}

#faq_id {
    width: 80vw;
}

#nav {
    right: 0.45em;
    top: 50%;
    opacity: 0.5;
    position: fixed;
}

#nav li {
    display: block;
}

#nav li:last-child {
    padding-right: 1em;
}

#splash_id {
    width: 100vw;
}

#whoweare {
    width: 40vw;
}

#socialmedia {
    -moz-transition: opacity 0.5s ease-in-out;
    -webkit-transition: opacity 0.5s ease-in-out;
    -ms-transition: opacity 0.5s ease-in-out;
    transition: opacity 0.5s ease-in-out;
    color: rgba(255, 255, 255, 0.5);
    opacity: 0.5;
    position: absolute;
    right: 3em;
    top: 6em;
}

#socialmedia li {
    display: block;
}

.highlight {
    color: #199e83;
}

#links li {
    display: inline-block;
    margin-right: 1em;
}

#sponsor_id {
    width: 45vw;
}

#fullpage {
    margin-left: 10%;
}